In [2]:
cd ..

/home/alex/gargaml

In [3]:
from gargaml import *

WARNING:root:path is /home/alex/gargaml

In [10]:
t = Data.load.wine(sep_target=False)

In [12]:
import os, sys, random, logging
import string, math
from sklearn.datasets import *
import pandas as pd

import numpy as np
import random

In [13]:
data = load_iris()

In [14]:
X = data.data
df = pd.DataFrame(X, columns=data.feature_names)
df["target"] = data.target

In [21]:
data.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [22]:
data = fetch_california_housing()

In [25]:
data.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'feature_names', 'DESCR'])

In [26]:
data.target_names

['MedHouseVal']

In [28]:
name = "iris"

In [29]:
# name
if name == "ames":
    data = fetch_california_housing()
elif data == "iris":
    data = load_iris()

# X/y

df = pd.DataFrame(data.data, columns=data.feature_names)
df["target"] = data.target

if name == "iris":
    replace_dict = {k: v for k, v in enumerate(data.target_names)}
    df.target = df.target.astype(int).replace(replace_dict)

In [30]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica