# 1 Preliminaries

## 1.0 Context

* About Seattle dataframe 
* Small démo of gargaml usage

## 1.1 System

In [1]:
pwd

'/home/alex/gargaml/examples'

In [2]:
cd ..

/home/alex/gargaml

In [3]:
pwd

'/home/alex/gargaml'

In [4]:
ls

CHANGELOG.md  examples/  logs/           README.md         setup.py
docs/         gargaml/   models/         requirements.txt  tests/
env/          LICENSE    pyproject.toml  results/          utils/

In [5]:
!uname -a

Linux asus2023 6.2.0-20-generic #20-Ubuntu SMP PREEMPT_DYNAMIC Thu Apr  6 07:48:48 UTC 2023 x86_64 x86_64 x86_64 GNU/Linux

In [6]:
!which python

/home/alex/gargaml/env/bin/python

## 1.2 Install

In [7]:
# if needed :

# !pip install -r requirements.txt

In [8]:
# if needed :

# !pip freeze > requirements.freeze

## 1.3 Import

In [9]:
# in one line :

from gargaml import *

WARNING:root:path is /home/alex/gargaml

In [10]:
# or manually :

# import random, os, sys, warnings, datetime, time, logging
# from IPython.display import display
# # pandarallel

# import pandas as pd
# import numpy as np

# import scipy as sp
# import scipy.stats as st

# import matplotlib.pyplot as plt
# import seaborn as sns
# import plotly.express as px
# from plotly.subplots import make_subplots
# import plotly.graph_objects as go
# import plotly.io as pio
# import missingno as msno


# from sklearn.base import *

# from sklearn.feature_selection import *
# from sklearn.feature_extraction import *
# from sklearn.preprocessing import *
# from sklearn.pipeline import *
# from sklearn.covariance import *
# from sklearn.decomposition import *
# from sklearn.model_selection import *
# from sklearn.impute import *
# from sklearn.metrics import *
# from sklearn.cluster import *
# from sklearn.compose import *

# from sklearn.dummy import *
# from sklearn.linear_model import *
# from sklearn.svm import *
# from sklearn.neighbors import *
# from sklearn.ensemble import *


# from imblearn.under_sampling import RandomUnderSampler
# from imblearn.pipeline import Pipeline

# from xgboost import XGBRegressor, XGBRFRegressor

# ...

## 1.4 Data

In [11]:
Data.load.list_all

In [12]:
Load = Data.load

In [13]:
Load

gargaml.data.load.Load

In [14]:
Load.ames()

,medinc,houseage,averooms,avebedrms,population,aveoccup,latitude,longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [22]:
Load.list_all()

['ames', 'food', 'house', 'hr', 'iris', 'seattle', 'titanic', 'wine']

In [26]:
Load.dict_all().get("ames")()

,medinc,houseage,averooms,avebedrms,population,aveoccup,latitude,longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [17]:
# all datasets avialable :

Data.load.list_all

In [18]:
from gargaml import Data

In [19]:
# all datasets avialable :

Data.load.dict_all

In [20]:
# seattle 2016 :

df = Data.load.seattle(year=2016, preclean=True, sep_target=False)
df.head(2)

,primarypropertytype,neighborhood,latitude,longitude,yearbuilt,numberofbuildings,numberoffloors,propertygfaparking,propertygfabuilding,energystarscore,siteenergyuse_kbtu,steamuse_kbtu,electricity_kbtu,naturalgas_kbtu,bool_energystarscore,gfaperfloor,gfaperbuilding
0,Hotel,DOWNTOWN,47.61220,-122.33799,1927,1,13,0,88434,60.0,7226362.5,1,1,1,0,6802.615385,88434.0
1,Hotel,DOWNTOWN,47.61317,-122.33393,1996,1,12,1,88502,61.0,8387933.0,0,1,1,0,7375.166667,88502.0

In [21]:
for f in Data.load.list_all:
    funct = Data.load.dict_all[f]
    print(f)
    funct()

TypeError: 'method' object is not iterable

In [ ]:
# # %load
# pwd
# cd ..
# pwd
# ls
# !uname -a
# !which python
# # if needed :

# # !pip install -r requirements.txt
# # if needed :

# # !pip freeze > requirements.freeze
# # in one line :

# from gargaml import *
# # or manually :

# # import random, os, sys, warnings, datetime, time, logging
# # from IPython.display import display
# # # pandarallel

# # import pandas as pd
# # import numpy as np

# # import scipy as sp
# # import scipy.stats as st

# # import matplotlib.pyplot as plt
# # import seaborn as sns
# # import plotly.express as px
# # from plotly.subplots import make_subplots
# # import plotly.graph_objects as go
# # import plotly.io as pio
# # import missingno as msno


# # from sklearn.base import *

# # from sklearn.feature_selection import *
# # from sklearn.feature_extraction import *
# # from sklearn.preprocessing import *
# # from sklearn.pipeline import *
# # from sklearn.covariance import *
# # from sklearn.decomposition import *
# # from sklearn.model_selection import *
# # from sklearn.impute import *
# # from sklearn.metrics import *
# # from sklearn.cluster import *
# # from sklearn.compose import *

# # from sklearn.dummy import *
# # from sklearn.linear_model import *
# # from sklearn.svm import *
# # from sklearn.neighbors import *
# # from sklearn.ensemble import *


# # from imblearn.under_sampling import RandomUnderSampler
# # from imblearn.pipeline import Pipeline

# # from xgboost import XGBRegressor, XGBRFRegressor

# # ...
# # all datasets avialable :

# Data.load.list_all
# # all datasets avialable :

# Data.load.dict_all
# # seattle 2016 :

# df = Data.load.seattle(year=2016, preclean=True, sep_target=False)
# df.head(2)


# for  f in Data.load.list_all :

#     funct = Data.load.dict_all[f]
#     print(f)
#     funct()

## 1.5 Options and Graphics

In [ ]:
# boot seaborn  :

sns.set()

In [ ]:
# usefull consts :

DISPLAY = True
FRAC = 1.0
LAZY = False

In [ ]:
# warning messages :

warnings.filterwarnings(action="once")

# or :
# warnings.filterwarnings('ignore')

In [ ]:
# if png and not fancy graphs with plotly :

# pio.renderers.default = "png"

## 1.6 Third parties and utils

In [ ]:
# placeholder

## 1.7 Functions and class

In [ ]:
# placeholder

# 2 First Tour

## 2.1 Display

In [ ]:
# display df :

EDA.first_tour.display(df)

## 2.2 Structure

In [ ]:
# info :

EDA.first_tour.info(df)

In [ ]:
# usefull dtype info :

df.dtypes.value_counts()

## 2.3 NaN and duplicated

In [ ]:
# mnso :

EDA.nan.viz(df)

In [ ]:
# nan rate by columns :

EDA.nan.rate(df)

In [ ]:
# filter on poor columns :

EDA.nan.rate(df, threshold=0.75)

In [ ]:
# same for lines :

EDA.nan.rate(df, axis=1, threshold=0.5)

In [ ]:
# about nan distribution by column :

EDA.nan.rate(df, axis=1, threshold=0.0).value_counts(normalize=True).round(2)

In [ ]:
# duplicated :

df.duplicated().sum()

In [ ]:
# with subset :

df.duplicated().sum()

## 2.4 Data Inspection

In [ ]:
# describe per type :

EDA.first_tour.describe(df)

In [ ]:
# global correlation :

_ = EDA.study.corr(df)

In [ ]:
# about distribution :

EDA.study.skew(df)

In [ ]:
# pairplot :
# WARNING : very long computation, avoid if possible else uncomment

# frac = 0.05
# sns.pairplot(df.sample(frac=frac), corner=True)

In [ ]:
# about outliers :

EDA.study.outlier(df)

In [ ]:
# multi colinearity :

EDA.study.vif(df, scale=True)

# 2.5 ACP

In [ ]:
_df = EDA.study.outlier(df, display_=False)
_df = _df.loc[_df._outlier < 0.5]
_df.shape

In [ ]:
X = _df.drop(columns="siteenergyuse_kbtu")
y = _df.siteenergyuse_kbtu

In [ ]:
pca = EDA.pca(X)

In [ ]:
_ = pca.variance()

In [ ]:
_ = pca.pcs()

In [ ]:
pca.correlation_graph([0, 1])

In [ ]:
pca.factorial_planes([0, 1])

In [ ]:
pca.factorial_planes([0, 1], clusters="primarypropertytype")

In [ ]:
pca.factorial_planes([0, 1, 2])

In [ ]:
pca.factorial_planes([0, 1, 2], clusters="primarypropertytype")